.food-category-section {
    position: relative;

    .tomato-shape {
        position: absolute;
        left: 0;

        @include breakpoint (max-md){
            display: none;
        }
    }

    .burger-shape-2 {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .pizza-shape {
        position: absolute;
        bottom: 30%;
        left: 3%;

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .frame-shape {
        position: absolute;
        top: 10%;
        right: 5%;
        opacity: 0.4;
        @include breakpoint (max-xl){
            display: none;
        }
    }

    .frame-shape-2 {
        position: absolute;
        bottom: 5%;
        right: 5%;
        
        @include breakpoint (max-xl){
            display: none;
        }
    }
}

.catagory-product-card {
    background-color: $white;
    padding: 20px 30px 50px;
    position: relative;
    border-radius: 14px;
    margin-top: 30px;
    overflow: hidden;
    transition: all .3s ease-in-out;

    h5 {
        font-size: 19px;
        color: $white;
        position: relative;
        z-index: 9;
    }

    &::before {
        position: absolute;
        left: 0;
        top: 0px;
        height: 100%;
        width: 100%;
        background-color: $theme-color-3;
        content: "";
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        background-image: url('../../assets/img/shape/catagory-card-shape.jpg');
        border-radius: 14px;
        z-index: 9;
        
    }

    &::after {
        position: absolute;
        left: 0;
        bottom: 0px;
        height: 100%;
        width: 100%;
        background-color: $theme-color-3;
        content: "";
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        border-radius: 14px;
    }

    .catagory-product-image {
        position: relative;
        z-index: 9;
        height: 245px;

        .decor-leaf {
            position: absolute;
            right: 20px;
            top: 0px;
            transform: translate(-40px, 40px);
            transition: all 0.35s ease-in-out;
            transition-delay: 0.1s;
            opacity: 0;
            z-index: -1;
            visibility: hidden;
        }

        .decor-leaf-2 {
            position: absolute;
            left: 20px;
            bottom: 0px;
            transition: all ease 0.35s;
            transition-delay: 0.1s;
            opacity: 0;
            z-index: -1;
            visibility: hidden;

            @include breakpoint (max-md){
                left: 45px;
            }

            @include breakpoint (max-sm){
                left: 10px;
            }
        }

        .burger-shape {
            position: absolute;
            top: 30px;
            left: 0;
            z-index: -1;
            opacity: 0;
            @include transition;
            visibility: hidden;
        }
    }

    .catagory-product-content {
        position: relative;
        margin-top: 10px;
        padding-top: 25px;
        z-index: 9;
        @include breakpoint (max-sm){
           padding-top: 15px;
        }

        &::before {
            position: absolute;
            top: 0;
            content: "";
            left: 40%;
            width: 53px;
            height: 2px;
            background-color: $theme-color-2;

            @include breakpoint (max-md){
               left: 44%;
            }

             @include breakpoint (max-sm){
               left: 42%;
            }
        }

        h3 {
            font-size: 28px;
            margin-bottom: 5px;
            margin-top: -60px;
            transition: all .3s ease-in-out;
        }
        
        p {
            font-size: 16px;
            font-weight: 600;
            color: $theme-color-2;
            text-transform: uppercase;
            z-index: 9;
            position: relative;
            transition: all .3s ease-in-out;
        }

        .catagory-product-icon {
            width: 125px;
            text-align: center;
            margin: 0 auto;
            opacity: 1;
            visibility: visible;
        }
    }

    &:hover {
        background-color: $theme-color-3;

        &::before {
            top: -25px;
        }

        &::after { 
            bottom: -25px;
            z-index: 8;
        }

        &::before, &::after { 
            opacity: 1;
            visibility: visible;
        }

        .catagory-product-image {
            overflow: hidden;

            .decor-leaf {
                opacity: 1;
                transform: translate(0);
                right: -15px;
                visibility: visible;

                @include breakpoint (max-md){
                    right: 50px;
                }

                @include breakpoint (max-sm){
                    right: 25px;
                }
            }

            .decor-leaf-2 {
                opacity: 1;
                left: -20px;
                visibility: visible;
            }

            .burger-shape {
                opacity: 1;
                visibility: visible;
            }
        }

        .catagory-product-content {
            &::before {
                background-color: $white;
            }

            h3 {
                a {
                    color: $white;
                }
            }

            p,h3 {
                opacity: 0;
                z-index: -1;
                position: relative;
                visibility: hidden;
                transition: all .3s ease-in-out;
            }
        }
    }
}

.catagory-product-card-2 {
    margin-top: 30px;
    padding: 40px 30px;
    position: relative;

    .icon {
        position: absolute;
        top: 15px;
        left: 15px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 5px;
        background-color: $header-color;
        text-align: center;
        cursor: pointer;
        z-index: 9;
        @include transition;

        i {
            color: $white;
            @include transition;
        }

        &:hover {
            background-color: $white;
            i {
                color: $theme-color-3;
            }
        }
    }

    @include breakpoint(max-sm){
       padding: 30px;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(65%);
        border-radius: 14px;
        background-color: var(--white);
        transition: all .35s ease-in-out;

        @include breakpoint(max-sm){
            height: calc(60%);
        }
    }

    .catagory-product-image {
        position: relative;
        z-index: 1;
        height: 245px;

        img {
            object-fit: contain;
        }
    }

    .catagory-product-content {
        position: relative;
        z-index: 9;
        margin-top: 30px;

        @include breakpoint(max-sm){
            margin-top: 0;
        }

        .catagory-button {
            margin-bottom: 20px;
            opacity: 0;
            @include transition;
        }

        .info-price {
            gap: 10px;
            margin-bottom: 10px;

            p {
                font-size: 16px;
                font-weight: 600;
                background-color: $theme-color-3;
                padding: 4px 6px;
                border-radius: 3px;
                color: $header-color;
            }

            h6 {
                color: $theme-color-2;
            }

            span {
                font-size: 16px;
                font-weight: 600;
                color: $text-color;
                @include transition;
            }
        }

        h4 {
            a {
                &:hover {
                    color: $white;
                }
            }
        }

        .star {
            margin-top: 5px;

            span {
                font-size: 14px;
                color: $theme-color-3;
                @include transition;
            }
        }
    }

    &:hover {
        &::before {
            height: calc(100%);
            background-color: $theme-color-3;
            background-image: url(../../assets/img/shape/catagory-card-shape.jpg);
        }

        .catagory-product-content {
            .catagory-button {
                opacity: 1;
            }
            
            p {
                background-color: $white;
            }

            span {
                color: $white;
            }

            .star {
                span {
                    color: $white;
                }
            }
        }
    }

    &.active {
        &::before {
            height: calc(100%);
            background-color: $theme-color-3;
            background-image: url(../../assets/img/shape/catagory-card-shape.jpg);
        }

        .icon {
            background-color: $white;
            i {
                color: $theme-color-3;
            }
        }

        .catagory-product-content {
            .catagory-button {
                opacity: 1;
            }
            
            p {
                background-color: $white;
            }

            span {
                color: $white;
            }

            .star {
                span {
                    color: $white;
                }
            }
        }
    }
}

.food-catagory-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 1px solid $theme-color-2;

    @include breakpoint(max-xxxl){
        grid-template-columns: repeat(5, 5fr);
    }

    @include breakpoint(max-xxl){
        grid-template-columns: repeat(4, 4fr);
    }

    @include breakpoint(max-xl){
        grid-template-columns: repeat(3, 3fr);
        border-bottom: none;
    }

    @include breakpoint(max-lg){
        grid-template-columns: repeat(2, 2fr);
    }

    @include breakpoint(max-md){
        grid-template-columns: repeat(1, 1fr);
    }

    .catagory-product-card-3 {
        padding: 100px 60px;
        border-right: 1px solid $theme-color-2;

        @include breakpoint (max-xxxl){
           padding: 100px 20px;
        }

        @include breakpoint (max-xl){
            border: none;
            padding: 0 40px;
            margin-top: 80px;
        }

        @include breakpoint (max-md){
            border: none;
            padding: 0 40px;
            margin-top: 60px;
        }

        .food-image {
            position: relative;

            .box-text {
                width: 90px;
                height: 90px;
                line-height: 90px;
                text-align: center;
                position: absolute;
                top: -35px;
                left: 0;

                @include breakpoint (max-lg){
                    top: -25px;
                    left: 55px;
                 }

                @include breakpoint (max-sm){
                    width: 70px;
                    height: 70px;
                    line-height: 70px;
                }

                span {
                    font-size: 30px;
                    text-transform: uppercase;
                    color: $white;
                    font-weight: 600;

                    @include breakpoint (max-sm){
                        font-size: 24px;    
                    }
                }
            }

            .food-title {
                line-height: 1;
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: rgba(12, 15, 38, 0.0509803922);
                -webkit-text-fill-color: transparent;
                font-size: 65px;
                font-weight: 400;
                position: absolute;
                bottom: -20px;
                z-index: -1;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    
        .food-content {
            margin-top: 30px;

            @include breakpoint (max-sm){
                margin-top: 15px;
            }

            h3 {
                font-size: 30px;
                margin-bottom: 15px;

                a {
                    &:hover {
                        color: $theme-color-2;
                    }
                }

                @include breakpoint (max-sm){
                    font-size: 22px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.shop-list-items {
    @include flex;
    background-color: $white;
    border-radius: 14px;
    padding: 40px;
    gap: 20px;
    margin-top: 30px;

    @include breakpoint (max-lg){
        flex-wrap: wrap;
        justify-content: center;
    }

    .shop-image {
        height: 100%;
        @include breakpoint (lg){
            max-width: calc(100% - 200px);
            width: 340px;
        }

        @include breakpoint (max-xl){
            width: 550px;
        }

        @include breakpoint (max-lg){
            text-align: center;
            width: 400px;
         }

        img {
            object-fit: cover;
            height: 100%;
            border-radius: 18px;
            max-width: 100%;
        }
    }

    .shop-content {
        @include breakpoint (xl){
            margin-right: 30px;
        }
        
        @include breakpoint (max-lg){
           text-align: center;
        }

        .star {
            a {
                color: $theme-color-3;
                font-size: 16px;
                font-weight: 600;
            }

            span {
                background-color: $theme-color-3;
                font-weight: 600;
                color: $header-color;
                padding: 5px 6px;
                border-radius: 3px;
                margin-right: 10px;
            }
        }

        h3 {
            font-size: 28px;
            margin-bottom: 10px;

            a {
                &:hover {
                    color: $theme-color;
                }
            }
        }

        h5 {
            color: $theme-color-2;
            font-size: 22px;
            font-weight: 600;
            margin-top: 15px;
        }

        .shop-list-btn {
            margin-top: 30px;

            .theme-btn {
                padding: 14px 50px;
            }
        }
    }
}


//>> Update Page 4 Start <<//

.catagory-product-card-3 {
    margin-top: 30px;

    .catagory-image {
        position: relative;
        overflow: hidden;

        img {
            @include imgw;
            @include transition;
        }

        .product-icon {
            gap: 16px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 100%;

            li {
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: .4s ease-in-out;
                transition: .4s ease-in-out;
                cursor: pointer;
                background-color: $white;
                padding: 5px 14px;

                &:hover {
                    background-color: $theme-color-2;

                    i {
                        color: $white;
                    }
                }

                a {
                    i {
                        color: $theme-color-2;
                        font-size: 16px;
                        @include transition;
                    }
                }
            }
        }
    }

    .catagory-content {
        text-align: center;
        margin-top: 15px;

        h4 {
            a {
                &:hover {
                    color: $theme-color-2;
                }
            }
        }

        .star {
            font-size: 14px;
            color: $theme-color-3;
            margin-top: 5px;
        }

        .price {
            @include flex;
            justify-content: center;
            gap: 10px;
            margin-top: 5px;

            del {
                font-size: 18px;
                font-weight: 500;
                color: $theme-color-2;
            }

            span {
                font-size: 18px;
                font-weight: 500;
                color: $theme-color-2;
            }
        }

        .link-btn {
            color: $header-color;

            &:hover {
                color: $theme-color-2;
            }
        }
    }

    &:hover {
        .catagory-image {
            img {
                transform: rotate(50deg);
            }

            .product-icon {
                li {
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                }
            }
        }
    }

    //>> Update Page 5 Start <<//

    &.style-burger {
        .catagory-image {
            position: relative;
            overflow: hidden;
            max-width: 340px;
            margin: 0 auto;
            
            img {
                transform: rotate(0deg);
            }
        }

        .catagory-content {
            margin-top: 25px;
    
            h4 {
                font-size: 28px;
                margin-bottom: 10px;

                @include breakpoint (max-md){
                    font-size: 24px;
                }

                @include breakpoint (max-sm){
                    font-size: 22px;
                }
            }
        }

        &:hover {
            .catagory-image {
                img {
                    transform: rotate(0deg);
                }
            }
        }
    }
}