
.faq-section {
    position: relative;
}

.faq-content {
    .accordion-item {
        border: 0;
        margin-top: 20px;
        border-radius: 10px;
        background-color: $white;
        .accordion-header { 
        
            .accordion-button { 
                font-weight: 600;
                color: $header-color;
                letter-spacing: -.2px;
                border: 0;
                border-radius: 0;
                box-shadow: none;
                background-color: transparent;
                padding: 16px 20px;
                text-transform: uppercase;
                font-size: 22px;

                &::after {
                    content: "\f067";
                    background: transparent;
                    font-family: $fa;
                    font-weight: 300;
                    transition: all 0.3s ease-in-out !important;
                }
                &:not(.collapsed)::after {
                    content: "\f068";
                    background: transparent;
                    font-family: $fa;
                    font-weight: 300;
                }
            }
        }

        .accordion-collapse { 

            .accordion-body {
                padding-right: 30px;
                padding-top: 5px;
                color: $header-color;
            }
        }
    }

    

}